extends ../layout

block content
    if(!checkoutDone)
        if(cart && cart.items.length > 0)
            form.form-horizontal(action="/checkout" method="post") 
                .form-group 
                    label.col-sm-2.control-label(for="first-name") First Name
                    .col-sm-10
                        input.form-control(type="text", name="firstname", id="first-name", placeholder="First Name")
                .form-group 
                    label.col-sm-2.control-label(for="last-name") Last Name
                    .col-sm-10
                        input.form-control(type="text", name="lastname", id="last-name", placeholder="Last Name")
                .form-group 
                    label.col-sm-2.control-label(for="email") E-mail
                    .col-sm-10
                        input.form-control(type="email", name="email", id="email", placeholder="E-mail")
                .form-group 
                    label.col-sm-2.control-label(for="address") Address
                    .col-sm-10
                        input.form-control(type="text", name="address", id="address", placeholder="Address")
                .form-group 
                    label.col-sm-2.control-label(for="city") City / Town
                    .col-sm-10
                        input.form-control(type="text", name="city", id="city", placeholder="City / Town")
                .form-group 
                    label.col-sm-2.control-label(for="zip") ZIP code
                    .col-sm-10
                        input.form-control(type="text", name="zip", id="zip", placeholder="ZIP code")
                .row 
                    .col-md-10.col-md-offset-2
                        table.cart-table.table.table-bordered.table-striped
                            tbody 
                                each product in cart.items 
                                    tr 
                                        td #{product.title}
                                        td #{product.formattedPrice} 
                                        td #{product.qty} 
                                tr.info 
                                    td.text-right(colspan="3")  Total: #{cart.formattedTotals}
                .row 
                    .col-md-10.col-md-offset-2
                        .pull-left 
                            img(src="/public/images/paypal.jpg",alt="")
                        .pull-right.checkout-btn-wrap
                            input.btn.btn-primary.btn-lg(type="submit", value="Send")                            
                        input(type='hidden', name='_csrf', value=_csrf)
        else 
            p.alert.alert-info Sorry, Nothing in your cart.
    else 
        include paypal-form
                    
