extends ../layout
block head    
    link(rel='stylesheet', href='/css/cartstyle.css')
    script(src='/js/store.js')

block content    
    - var n = 0;
    -var tc = TeachersList.length
    .text-right
        a.btn.btn-primary.btn-sm(href="/search") 
            i.fas.fa-reply.fa-sm
            | Change Selection
    .pb-2.mt-2.mb-4.border-bottom
        if tc > 0
            h4 Good News !!! #[br] #[br] We have #{tc} teachers available for the selection of "#{GradeLevel}" (GradeLevel) and "#{Subject}" (Subject)
        else 
            h4 Sorry, We do not have any teacher available for your selection. #[br] #[br]
                | Please fill our #[a(href="/contact") contact us] form with details. We will try to arrange something for you. 
    br

    each tea in TeachersList
        if n%3 === 0
            <div class="row">        
        .col-4
            .card
                .card-header.text-center
                    h3.text-center #[b #{tea.Name}]
                .card-body
                    .text-center
                        img(src=tea.Picture)
                    hr
                    .row 
                        .col-6.text-left
                            h6 #[strong Gender:] #{tea.Gender}
                        .col-6.text-right
                            h6 #[strong Rate:] #{tea.Rate}/hr                        
                    .text-left
                        b Comment: 
                        | #{tea.SubjectComment}
                    .text-left
                        b About Teacher: 
                        | #{tea.About}
                .card-footer
                    form(action="/cart", method="post")
                        div
                            b Hours ? 
                            span.qty-wrap                            
                                span.qty-minus #[i.fa.fa-minus]
                                input.qty(name="qty", type="text", value="1")                            
                                span.qty-plus #[i.fa.fa-plus]
                            input(type="hidden", name="TeacherId", value= tea.Id)
                            input(type="hidden", name="Subject", value= Subject)
                            input(type="hidden", name="GradeLevel", value= GradeLevel)
                            input(type="hidden", name="Rate", value= tea.Rate)
                            input(type="hidden", name="Picture", value= tea.Picture)
                            input(type='hidden', name='_csrf', value=_csrf)
                            button.btn.btn-primary(type="submit")
                                i.fa.fa-cart-plus      

 

        - n++
        if ((n%3 === 0) || (tc === n)) 
            </div>
            br
        
